::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sidebar-deck {
  width: 490px;
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  overflow: hidden; 
  background: linear-gradient(to bottom, #0C7266, #121212);
  max-height: calc(100% - 16px); 
  margin:8px 0 8px 8px;
  color:white;
  box-sizing: border-box;
  position: absolute;
  top:0;
  bottom: 0;
}

.sidebar-header {
  height: 64px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 15px 20px;
  position: sticky;
  background-color: #0C7266;
  top:0;
  box-sizing: border-box;
}


.sidebar-header > div:first-child > p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.sidebar-header > div:first-child > p:last-child {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.sidebar-header > div:last-child {
  display: flex; 
  justify-content: center; 
  align-items: center;
  gap: 10px;
}

.icon {
  width: 35px;
  height: 35px;
  border: none;
  background: black;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  cursor: pointer;
}

.icon i {
  color: white;
  font-size: 20px; 
}

.divder {
  align-self: center;
}

.del-btn:hover {
  background-color: #EF4444;
}

.xmark-btn:hover {
  background-color: white;
}

.xmark-btn:hover i {
  color: black;
}


.sidebar-deck-choice {
  height: 54px;
  display: flex;
  gap: 5px;
  padding: 10px 15px;
}

#type-btn-active {
  background-image: linear-gradient(to right, rgb(132,204,24), rgb(8,183,211));
  box-shadow: 0px 0px 3px 0px white;
}

#color-btn-active {
  background-image: linear-gradient(to right, rgb(132,204,24), rgb(8,183,211));
  box-shadow: 0px 0px 3px 0px white;
}

#level-btn-active {
  background-image: linear-gradient(to right, rgb(132,204,24), rgb(8,183,211));
  box-shadow: 0px 0px 3px 0px white;
}

#rare-btn-active {
  background-image: linear-gradient(to right, rgb(132,204,24), rgb(8,183,211));
  box-shadow: 0px 0px 3px 0px white;
}

#product-btn-active {
  background-image: linear-gradient(to right, rgb(132,204,24), rgb(8,183,211));
  box-shadow: 0px 0px 3px 0px white;
}

.sidebar-deck-control {
  border-bottom: 1px solid grey;
}

.sidebar-deck-choice button {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #27272A;
  border-radius: 7px;
  padding: 5px;
}

.sidebar-deck-choice button:hover {
  background-color: #27272ac2;
}

.sidebar-deck-control {
  height: 45px;
  display: flex;
  gap: 5px;
  padding: 0 15px 10px;
}

.sidebar-deck-control button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27272A;
  border-radius: 50%;
  padding: 5px;
}

.cash {
  position: relative;
}
.cash:hover::before {
  font-size: 13px;
  width: 70px;
  content: "開啟價格";
  padding:3px;
  background-color: #121212c3;
  position: absolute;
  bottom:-27px;
  border-radius: 9999px;
  z-index: 1;
}

.plus {
  position: relative;
}
.plus:hover::before {
  font-size: 13px;
  width: 90px;
  content: "新增卡片模式";
  padding:3px;
  background-color: #121212c3;
  position: absolute;
  bottom:-27px;
  border-radius: 9999px;
  z-index: 1;
}

#plus-active {
  position: relative;
  background-color: rgb(22, 163, 74);
}

.minus {
  position: relative;
}
.minus:hover::before {
  font-size: 13px;
  width: 90px;
  content: "刪除卡片模式";
  padding:3px;
  background-color: #121212c3;
  position: absolute;
  bottom:-27px;
  border-radius: 9999px;
  z-index: 1;
}

#minus-active {
  position: relative;
  background-color: rgb(239, 68, 68);
}


.card-content {
  padding: 10px 15px;
  flex-grow: 1;  
  max-height: calc(100vh - 265px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.card-content h3 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.125rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  box-sizing: border-box;
}

.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: rgba(252, 211, 77, 0.7);
  font-weight: 700;
}

.card-image {
  display: flex;
  position: relative;
  object-fit: cover;
  border-radius:10px ;
  overflow: hidden;
  margin: 5px;
  box-sizing: border-box;
}

.col-choice {
  width:25%;
  position: relative;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-count {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.card-count-white {
  background-color: white;
  box-shadow: 0 0 20px 0px white;
  color: black;
}

.card-count-green {
  background-color: rgb(22, 163, 74);
  color: white;
}

.card-count-red {
  background-color: rgb(220, 38, 38);
  color: white;
}





.sidebar-footer {
  height: 87px;
  padding: 20px;
  position: sticky;
  bottom: 0;
  background-color: #121212;
  box-sizing: border-box;
}

.sidebar-footer button {
  width: 100%; 
  background-color: #aa6e079a; 
  color: white; 
  border: none; 
  padding: 10px 0; 
  font-size: 18px; 
  border-radius: 17px; 
  text-align: center;
  box-sizing: border-box; 
  opacity: 0.5;
}

#sidebar-footer-active {
  background-color: rgb(217, 119, 6);
  opacity: 1;
  /* transition: all 0.2s ease-in-out; */
}

#sidebar-footer-active:hover {
  background-color: rgb(245, 158, 11);
  /* transition: all 0.2s ease-in-out; */
}

.sidebar-footer button span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.sidebar-footer button span svg{
  display: inline;
  vertical-align: middle;
}

.filter-tag {
  position: sticky;
  left: 270px;
  top: 10px;
  background-color: #3e86ba;
  padding: 10px;
}

.deck-save {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.deck-save-title-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deck-save-title-section p{
  font-size: 14px;
}

.deck-save-title-section-top {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  font-weight: 700;
}

.deck-save-title-section input{
  padding: 8px;
  border-radius: 12px;
  line-height: 24px;
  outline: none;
  background-color: rgba(39, 39, 42, 0.7);
}

.deck-save-title-section input:focus{
  background-color: rgba(24, 24, 27, 0.5);
}

.deck-save-title-section input:hover{
  background-color: rgba(24, 24, 27, 0.5);
}

.deck-save-content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deck-save-content-section-top {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  font-weight: 700;
}

.deck-save-content-section textarea{
  background-color: rgba(39, 39, 42, 0.7);
  padding: 8px;
  border-radius: 12px;
  line-height: 24px;
  outline: none;
}

.deck-save-content-section textarea:focus{
  background-color: rgba(24, 24, 27, 0.5);
}

.deck-save-content-section textarea:hover{
  background-color: rgba(24, 24, 27, 0.5);
}


.deck-save-covercard-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deck-save-covercard-section-top {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  font-weight: 700;
}

.deck-save-covercard-section-content {
  max-width: 100%;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid rgb(34,45,47);
}

.deck-save-covercard-section-content-card{
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  border-radius: 8px;
}

.cover-card-selected {
  background-color: rgb(21, 94, 117);
}

.deck-save-covercard-section-content-card:hover{
  cursor: pointer;
  background-color: rgba(39, 39, 42, 0.7);
}

.deck-save-covercard-section-content-card img{
  min-width: 64px;
  max-height: 64px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

.deck-save-covercard-section-content-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.deck-save-covercard-section-content-card h3 {
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 24px;
  
}


.deck-save-covercard-section-content-card p {
  font-size: 12.8px;
  color: rgb(229, 231, 235);
}

@media screen and (width < 1200px)  {
  .sidebar-deck {
    width: 100%;
    max-height: 100%;
    margin: 0px;
    color:white;
    z-index:4;
  }
  .sidebar-header {
    height: 80px;
  }
  .sidebar-deck-choice {
    max-height: calc(100vh - 167px);
  }
}